numpy
pickle-mixin
streamlit
streamlit-option-menu
scikit-learn
pubchempy
rdkit
pandas
matplotlib
seaborn
rarfile
gensim==3.8.3
Pillow
tqdm
IPython
joblib
git+https://github.com/samoturk/mol2vec
xgboost
